

$font-main: "Inter", sans-serif;

$font-color-main--lite-mode:#111827;
$font-color-main--dark-mode:#E5E7EB;

$main-blue : #0F52BA;
$main-white: $font-color-main--dark-mode;

$main-darkBlue : #000926;
$main-liteGrey : #CBCBCB;
$secondary-liteGrey: #f3f3f3; 
$main-grey : #949494;
$main-violet : #4338ca;